<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<head>
    <title>电影管理</title>

<!--     <link th:href="@{/static/scripts/pagination/pagination.css}" rel="stylesheet" type="text/css" /> -->
<!--     <link th:href="@{/static/scripts/artDialog/default.css}" rel="stylesheet" type="text/css" /> -->
<!--     <link th:href="@{/static/scripts/My97DatePicker/skin/WdatePicker.css}" rel="stylesheet" type="text/css" /> -->
<!--     <link th:href="@{/static/styles/index.css}" rel="stylesheet"  type="text/css"/> -->

<!--     <script th:src="@{/static/scripts/pagination/jquery.pagination.js}"></script> -->
<!--     <script th:src="@{/static/scripts/jquery.smartselect-1.1.min.js}"></script> -->
<!--     <script th:src="@{/static/scripts/My97DatePicker/WdatePicker.js}"></script> -->
<!--     <script th:src="@{/static/scripts/movie/list.js}"></script> -->
</head>
<body>
<div class="locationLine" layout:fragment="prompt">
    当前位置：首页 &gt; <em >模块报错</em>
</div>

<div class="statisticBox w-782"  layout:fragment="content">
    <h1>ERROR</h1>
</div>
</body>
</html>