<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!-- 头部 -->
    <div class="headerBox" th:fragment="header">
        <div class="topBox" >
            <div class="topLogo f-left">
                <a href="/user/toIndex"><img th:src="@{/static/images/logo.png}"/></a>
            </div>
            <div class="head-title">
                <h4>频道管理</h4>
            </div>
        </div>
    </div>
</body>
</html>