<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:deta-layout="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Expires" content="0" />
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE"></title>
    
    <link th:href="@{/js/bootstrap-3.4.1/css/bootstrap.min.css}"  rel="stylesheet" type="text/css"/>
    <link th:href="@{/plugins/font-awesome/css/font-awesome.min.css}"  rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/AdminLTE.min.css}"  rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/skins/skin-blue.min.css}"  rel="stylesheet" type="text/css"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <div class="content-wrapper" style="margin: auto">
        <!-- Main content -->
        <section class="content container-fluid">
            <div layout:fragment="content"></div>
        </section>
        <!-- /.content -->
    </div>

    <div th:replace="fragments/footer :: footer"></div>
</div>

<!-- jQuery 3 -->
<script src="/js/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/js/bootstrap-3.4.1/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/js/adminlte.min.js"></script>
</body>
</html>