<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="fragments/layout">
<head>
    <title>电影管理</title>
    <script>
    $(function(){
		getList();
    });
    
    function getList(){
    	$.ajax({
    		url:"/file/selectFileList",
    		type:"POST",
    		data:{"types":"jpg,png"},
    		async:"true",
    		success:function(data){
                var list = data.extend.listFile;
                var trackerIp = data.extend.trackerIp;
   				var divRow;

    			$.each(list,function(index,item){
    				if(index%3==0){
    					divRow = $("<div></div>").addClass("row-fluid");
    				}
    				/*组装ul*/
	    			var img = $("<img></img>").attr("src","http://" + trackerIp + ":84/" + item.groupc + "/" + item.path).attr("style","height:100px;");
	    			var liImg = $("<li></li>").append(img);
	    			var liImgName = $("<li></li>").append(item.name);
	    			var ulDom = $("<ul></ul>").append(liImg).append(liImgName);
	    			/*将ul加入栅格中*/
	    			var imgCol = $("<div></div>").addClass("col-md-4").attr("style","margin-top:10px;").append(ulDom);
	    			divRow.append(imgCol).appendTo($("#imgs_div"));
    			});
    		},
    		error:function(){
    			console.log("error");
    		}
    	});
    }
	</script>
</head>
<body>
	<div class="locationLine" layout:fragment="prompt">
		当前位置：首页 &gt; <em >演员管理1</em>
	</div>

    <div class="statisticBox w-782"  layout:fragment="content">
        <div id="imgs_div" class="container-fluid">
<!-- 			<div class="row"> -->
<!-- 				<div class="col-md-4">.col-md-4</div> -->
<!-- 				<div class="col-md-4">.col-md-4</div> -->
<!-- 				<div class="col-md-4">.col-md-4</div> -->
<!-- 			</div> -->
        </div>
    </div>
</body>
</html>